body {
    margin: 10px;
}

.header {
    text-align: center;
}

.box {
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.box video {
    object-fit: cover;
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#buttonSave {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 50px;
    margin: 50px;
    font-size: 300%;
}

.wrapper {
    background-color: #fff;
    color: #444;
}
